#indexBody {
    background: rgb(44, 44, 44) url("img_tree.gif") no-repeat fixed center;
    color: rgb(255, 255, 255);
}
#downloadGamesBody{
    background: rgb(44, 44, 44) url("img_tree.gif") no-repeat fixed center;
    color: rgb(255, 255, 255);
}
#indexBodyOtherWorks{
    background: rgb(44, 44, 44) url("img_tree.gif") no-repeat fixed center;
    color: rgb(255, 255, 255);
}
#indexMenu{
    background: rgb(100, 162, 255) url("img_tree.gif") no-repeat fixed center;
}
h1{
    text-align:center;
}
a{
    color:rgb(255, 193, 77);
}
#gamesH2{
    text-align:center;
}
#otherWorksH2{
    text-align:center;
}
#buttonGames{
    border-radius: 25px;
    font-size: larger;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 50px;
    background: rgb(128, 128, 128);
    border: 5px solid rgb(255, 193, 77);
}
#buttonWorks{
    border-radius: 25px;
    font-size: larger;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 50px;
    background: rgb(128, 128, 128);
    border: 5px solid rgb(255, 193, 77);
}
#buttonHome{
    color:rgb(255, 255, 255);
    border-radius: 10px;
    font-size: larger;
    position: sticky;
    bottom: 100%;
    height: 50px;
    width: 100px;
    background: rgba(255, 187, 0, 0.521);
    border: 5px solid rgb(255, 166, 0);
}
